{
  "presets": [
    ["env", { "modules": false, "useBuiltIns": "usage"}],
    "babel-preset-stage-0",
    ["react"],
    ["stage-2"]
  ],
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "jsx-control-statements",
    [
      "module-resolver",
      {
        "alias": {
          "@app": "./app",
          "@locale": "./locale"
        }
      }
    ]
  ],
  "env": {
    "dev": {
      "plugins": []
    }
  }
}
