{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "jsx-control-statements",
    [
      "module-resolver",
      {
        "alias": {
          "@app": "./app",
          "@locale": "./locale"
        }
      }
    ]
  ]
}
