extends layout

block head
  meta(property='og:title' content=`${title}`)
  meta(property='og:description' content=`${description}`)
  meta(property='og:image' content=`${image}`)
  meta(property='og:url' content= `${url}`)

block content
  script.
    window.location.href = window.location.href.replace(/share\/?/, '')
